.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */
.search-input-container{
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding:10px;
}
.search-input-text{
  background-color: #f1f5f9;
  color:#0f172a;
  font-family: 'Roboto';
  font-size: 14px;
  flex-grow: 1;
  font-weight: 500;
  border: none;
  outline: none;
}
.search-icon{
  height:20px;
  width:20px;
  color:#475569;
}
.category-heading{
  color:#12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}
.categories-list{
  padding-left: 0px;
}
.category-list-items{
  list-style-type: none;
  margin-top: 15px;
  cursor: pointer;
}
.category{
  color:#64748b;
  font-family: 'Roboto';
  font-size: 16px;
}
.active-category{
  color:#0967d2;
}
.rating-heading{
  color:#12022f;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  margin-top: 32px;
  margin-bottom: 18px;
}
.ratings-list{
  padding-left: 0px;
}
.rating-list-item{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.rating-image{
  max-width:152px;
  height:20px;
}
.rating-name{
  color:#64748b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 10px;
}
.active-rating{
  color: #0967d2;
}
.clear-filter-btn{
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px;
  border:2px solid #0967d2;
  margin-top: 16px;
  padding:12px;
  
}
@media screen and (min-width:768px){
  .category-heading{
    margin-top: 32px;
  }
  .category-list-items{
    margin-top: 24px;
  }
  .category{
    font-size: 18px;
  }
  .rating-image{
    height: 24px;
  }
  .rating{
    font-size: 18px;
    margin-left: 14px;
  }
}